.card {
  background-color: var(--card-bg);
  /* border: 1px solid transparent; */
  box-shadow: 0 5px 20px 8px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin-bottom: 15px;
}

.card header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 0.5em 0.8em;
  font-weight: 500;
  font-size: 18px;
  border-bottom: 1px solid hsl(218, 81%, 23%);
  border-radius: 5px 5px 0 0;
}

.card footer {
  padding: 0.8em;
  border-top: 1px solid var(--grey200);
  border-radius: 0 0 10px 10px;
}

.card header.blue {
  border-color: blue;
}
.card header.red {
  border-color: red;
}
.card header.green {
  border-color: green;
}
.card header.violet {
  border-color: violet;
}
.card header.yellow {
  border-color: yellow;
}

h3.card-title,
.title {
  margin: 0;
  font-size: 1.12em;
  font-weight: bold;
  text-transform: capitalize;
}

.card .content,
.card.content {
  padding: 1em;
}

.card .content > *:not(:last-child),
.content > *:not(:last-child) {
  margin-bottom: 0.5em;
}

dl {
  /* RESET */
  margin: 0;
  margin-top: 1em;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 2px 1em;
  max-width: 350px;
  padding: 0 15px;
}

dt {
  grid-column: 1;
  font-weight: bold;
}
dd {
  grid-column: 2;
}
