.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  padding-bottom: 0;
  background: var(--card-header-bg);
}

/* .menu {
  box-sizing: border-box;
  min-width: 12.83em;
  padding: 0.5em 0;
  background-color: var(--grey400);
  color: var(--text, black);
  border-radius: 5px;
} */

.menu {
  box-sizing: border-box;
  min-width: 12.83em;
  padding: 0.5em 0;
  background-color: var(--grey400);
  color: #fff;
  border-radius: 5px;
  background: #0a316d; /* Old browsers */
  background: -moz-linear-gradient(top, #0a316d 0%, #181957 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0a316d 0%,#181957 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0a316d 0%,#181957 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a316d', endColorstr='#181957',GradientType=0 ); /* IE6-9 */
}

.menu li {
  font-size: 0.89em;
  cursor: pointer;
  padding: 0.5em 1em;
}

/* .menu li:hover {
  background-color: var(--grey500);
} */
.menu li:hover {
  background-color: #0a0a2d;
}

.menu li.active {
  color: var(--dark);
  font-weight: bold;
}

.menu li.active:hover {
  background-color: transparent;
  cursor: default;
}

.notification {
  display: flex;
  align-items: flex-start;
}

.notification .content {
  padding: 0 0 0 1em;
}


@media (min-width:320px){
  .header{display: block;}
}
@media (min-width:360px){
  .header{display: block;}
}
@media (min-width:480px){
  .header{display: block;}
}
@media (min-width:640px){
  .header{display: block;}
}
@media (min-width:768px){
  .header{display: flex;}
}
@media (min-width:980px){
  .header{display: flex;}
}
@media (min-width:1024px){
  .header{display: flex;}
}
@media (min-width:1280px){
  .header{display: flex;}
}