/* 
.tooltipped {
  position: relative;
}

.tooltipped:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.4em solid transparent;
  border-bottom-color: #4d5256;
  visibility: hidden;
  opacity: 0;
}

.tooltipped:after {
  content: attr(data-tooltip);
  position: absolute;
  z-index: 1;
  top: calc(100% + 0.5em);
  left: 50%;
  transform: translateX(-50%);
  padding: 0.4em 0.8em;
  border-radius: 0.4em;
  background: #4d5256;
  font-size: 0.8em;
  color: #fff;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
}

.tooltipped.left:before,
.tooltipped.left:after {
  left: 0;
  transform: translateX(0);
}

.tooltipped.right:before,
.tooltipped.right:after {
  left: initial;
  right: 0;
  transform: translateX(0);
}

.tooltipped.left:before {
  transform: translate(50%, -50%);
}

.tooltipped.right:before {
  transform: translate(-50%, -50%);
}

.tooltipped:hover:after,
.tooltipped:hover:before {
  visibility: visible;
  opacity: 1;
} */

.relative {
  position: relative;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: hsl(0, 3%, 10%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: calc(100% + 10px);
  transform: translateX(-50%);
}

.card:hover .tooltip {
  visibility: visible;
}

span.tooltip::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  border: 10px solid transparent;
  border-bottom-color: black;
}


/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  width: 160px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  font-size: 13px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
